services:
  vaultwarden:
    image: vaultwarden/server 
    container_name: vaultwarden 
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vaultwarden.rule=Host(`vault.silion.dev`)"                                                              
      - "traefik.http.routers.vaultwarden.entrypoints=websecure"
      - "traefik.http.routers.vaultwarden.tls.certresolver=letsencrypt"
    volumes:
      - /opt/homelab/vaultwarden/data:/data 
    networks:                                             
      - proxy
networks:
  proxy:                                                                                                                                                 
    external: true 
