[General]                                                                                                                                                 
DisplayServer=wayland                                    

[Autologin]
User={{ ansible_user }}                                                                                                                             
Session=hyprland  
